<!-- 
  have a website inputter... can send in new 

 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artifact Builder</title>
 </head>
 <body>
  <div id="container">
    <h1>Artifact container</h1>
    <div id="new-program">
      <div class="row">
      <div>
      <textarea id="desc" placeholder="upload files here"></textarea>
      <button id="save">Save</button>
    </div>
    <ul id="message-list"></ul>
    </div>
 </body>
 </html>